Package.resolved
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/naresh.kommana.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/naresh.kommana.xcuserdatad/xcschemes/xcschememanagement.plist
